<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="a01.js"></script>
</head>

<body ng-app="app">
    </script>
    <div ng-controller="emp">
        <form class="form-inline">
            <div class="form-group">
                <label>Enter Employee No:</label>
                <input type="text" name="form-control" ng-model="serchEmpo" />
            </div>
            <button class="btn btn-primery" ng-click="toSerch()">Serch</button>
        </form>
    </div>
</body>

</html>
